body {
  background-color: #fff;
  font-family: sans-serif;
}

.headerDesign {
  text-align: center;
  padding: 1%;
  background-color: #eb5169;
  font-size: 28px;
}

.bodyText {
  font-size: 18px;
  text-align: center;
}

.watermelonGrid {
  grid-row: auto;
  width: 28%;
  padding: 2% 2%;
}

.footerDesign {
  background-color: #eb5169;
  font-size: 16px;
  text-align: center;
}
