body {
  background-color: #fff;
  font-family: sans-serif;
}

.headerDesign {
  text-align: center;
  padding: 1%;
  background-color: #eb5169;
  font-size: 28px;
}

.bodyText {
  font-size: 18px;
  text-align: center;
}

.watermelonGrid {
  grid-row: auto;
  width: 30%;
  padding: 2%;
}
